@model BasketViewModel
<div class="cart-block">
    <div class="cart-total">
        <span class="text-number">
            @Model.Items.Count
        </span>
        <span class="text-item">
            Shopping Cart
        </span>
        <span class="price">
            £@Model.TotalPrice.ToString("0.00")
            <i class="fas fa-chevron-down"></i>
        </span>
    </div>
    <div class="cart-dropdown-block">
        <div class="single-cart-block">
            @foreach (var item in Model.Items)
            {
                <div class="cart-product">
                    <a href="product-details.html" class="image">
                        <img src="~/manage/uploads/books/@item.BookImage" alt="">
                    </a>
                    <div class="content">
                        <h3 class="title">
                            <a href="product-details.html">
                                @item.BookName
                            </a>
                        </h3>
                        <p class="price"><span class="qty">@item.Count ×</span> £@item.BookPrice.ToString("0.00")</p>
                        <button class="cross-btn" data-book-id="@item.BookId"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            }
        </div>
        <div class="single-cart-block">
            <div class="btn-block">
                <a asp-action="checkout" asp-controller="order" class="btn btn--primary">
                    Check Out <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>